<div class="chip">
  <span class="dot no-select" [style]="{backgroundColor: player.color}"></span>
  <span *ngIf="!isEditName"
        (click)="$event.stopPropagation(); toggleEdit(true)"
        (keyup.space)="toggleEdit(true)"
        [class]="disabled ? '' : 'editable'"
        tabindex="0">
    {{ player.name }}
  </span>
  <input #nameInput
         (keydown.enter)="toggleEdit(false)"
         (blur)="toggleEdit(false)"
         [(ngModel)]="player.name"
         *ngIf="isEditName"
         type="text"
         placeholder="Player Name"/>
</div>
