/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 90vh;
  width: 100%;
}

no-select {
  user-select: none;
}

.text-align_right {
  text-align: right;
}

.text-align_left {
  text-align: left;
}

.bg-gold {
  background-color: #FFD700;
}

.bg-red {
  background-color: #FF0000;
}

.bg-blue {
  background-color: #1E90FF;
}

.bg-grey {
  background-color: #D3D3D3;
}

.fg-white {
  color: #ffff;
}

.border-ridge {
  border-style: ridge;
}
